@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

body {
 background-color : #9E9E9E;
}

.headerMain{
 color : blue; 
}

.mainText{
 font-family: 'Roboto', sans-serif;
 text-shadow: 1px 1px 2px #424242;
 color: #FFEB3C;
}

.btnMain {
    color: white;
    background-color: #607D8B;
    padding: 4px;
    box-shadow: 0px 2px 4px 0px #9E9E9E;
}

.btnMain:hover {
    color: white;
}

.btnAnim {
    width: 200px;
    -webkit-transition: width .5s; /* For Safari 3.1 to 6.0 */
    transition: all .5s;
    border-color: #607D8B;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.btnAnim:hover {
   width: 210px;
   box-shadow: 0px 3px 6px 0px #6A6A6A;
   background-color: darkslategray;
   border-style: solid;
   border-color: darkslategray;
   border-top-width: 0px;
}

.btnAnim:active{
   width: 180px;
   box-shadow: 0px 2px 6px 0px #6A6A6A;
   background-color: lightslategray;
   border-top-width: 0px;
   border-color: lightslategray
}

.btnAnim:focus{
	outline: none;
}

.diamondBackAnim {

    position: relative;

    /* Chrome, Safari*/

    -webkit-animation-name: diamondBackHead;

    -webkit-animation-duration: 1s;

    -webkit-animation-timing-function: ease-in-out;


    -webkit-animation-play-state: running;

    /* Opera */

    -o-animation-name: diamondBackHead;

    -o-animation-duration: 1s;

    -o-animation-timing-function: ease-in-out;

    -o-animation-play-state: running;

    /* Mozilla */

    -moz-animation-name: diamondBackHead;

    -moz-animation-duration: 1s;

    -moz-animation-timing-function: ease-in-out;

    -moz-animation-play-state: running;

    /* Standard syntax */

    animation-name: diamondBackHead;

    animation-duration: 1s;

    animation-timing-function: ease-in-out;

    animation-play-state: running;

}

/* 



Define the keyframe and changes



*/



/* Chrome, Safari */



@-webkit-keyframes diamondBackHead {

    0% {

		transform: rotate3d(1, 0, -1, 360deg)
			scale(0, 0)

    }

    100% {

		transform: rotate3d(0, 0, 0, 360deg)
			scale(1, 1)
			

    }

}

/* Firefox */



@-moz-keyframes diamondBackHead {

    0% {

		transform: rotate3d(1, 0, -1, 360deg)
			scale(0, 0)

    }

    100% {

		transform: rotate3d(0, 0, 0, 360deg)
			scale(1, 1)
			

    }

}

/* Opera */



@-o-keyframes diamondBackHead {

    0% {

		transform: rotate3d(1, 0, -1, 360deg)
			scale(0, 0)

    }

    100% {

		transform: rotate3d(0, 0, 0, 360deg)
			scale(1, 1)
			

    }


}

/* Standard syntax */



@keyframes diamondBackHead {

    0% {

		transform: rotate3d(1, 0, -1, 360deg)
			scale(0, 0)

    }

    100% {

		transform: rotate3d(0, 0, 0, 360deg)
			scale(1, 1)
			

    }


}

.main{
	
	position: relative;
	
	animation-name: moveIn;

    animation-duration: .2s;

    animation-timing-function: linear;

    animation-play-state: running;
	
}

@keyframes moveIn {

    0% {

		transform: translate(0px, 50px);

    }

    100% {

		transform: translate(0px, 0px);			

    }


}
