@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

.headerMain{
 color : blue; 
}

.mainText{
 font-family: 'Roboto', sans-serif;
 text-shadow: 1px 1px 2px #9E9E9E;
 color: #2196F3;
}

