@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

.headerMain{
 color : blue; 
}

.mainText{
 font-family: 'Roboto', sans-serif;
 text-shadow: 1px 1px 2px #9E9E9E;
 color: #2196F3;
}

.btnMain {
    color: white;
    background-color: #607D8B;
    padding: 4px;
    box-shadow: 2px 2px 4px 0px #9E9E9E;
}

.btnMain:hover {
    color: white;
    background-color: #607D8B;
    box-shadow: 2px 2px 8px 0px #9E9E9E;
}

.btnAnim {
    width: 200px;
    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s;
}

.btnAnim:hover {
    width: 300px;
}

.btnAnim:focus{
   width: 250px
}

.diamondBackAnim {

    position: relative;

    /* Chrome, Safari*/

    -webkit-animation-name: diamondBackHead;

    -webkit-animation-duration: 1s;

    -webkit-animation-timing-function: ease-in-out;


    -webkit-animation-play-state: running;

    /* Opera */

    -o-animation-name: diamondBackHead;

    -o-animation-duration: 1s;

    -o-animation-timing-function: ease-in-out;

    -o-animation-play-state: running;

    /* Mozilla */

    -moz-animation-name: diamondBackHead;

    -moz-animation-duration: 1s;

    -moz-animation-timing-function: ease-in-out;

    -moz-animation-play-state: running;

    /* Standard syntax */

    animation-name: diamondBackHead;

    animation-duration: 1s;

    animation-timing-function: ease-in-out;

    animation-play-state: running;

}

/* 



Define the keyframe and changes



*/



/* Chrome, Safari */



@-webkit-keyframes diamondBackHead {

    0% {

		transform: rotate3d(1, 0, -1, 360deg)
			scale(0, 0)

    }

    100% {

		transform: rotate3d(0, 0, 0, 360deg)
			scale(1, 1)
			

    }

}

/* Firefox */



@-moz-keyframes diamondBackHead {

    0% {

		transform: rotate3d(1, 0, -1, 360deg)
			scale(0, 0)

    }

    100% {

		transform: rotate3d(0, 0, 0, 360deg)
			scale(1, 1)
			

    }

}

/* Opera */



@-o-keyframes diamondBackHead {

    0% {

		transform: rotate3d(1, 0, -1, 360deg)
			scale(0, 0)

    }

    100% {

		transform: rotate3d(0, 0, 0, 360deg)
			scale(1, 1)
			

    }


}

/* Standard syntax */



@keyframes diamondBackHead {

    0% {

		transform: rotate3d(1, 0, -1, 360deg)
			scale(0, 0)

    }

    100% {

		transform: rotate3d(0, 0, 0, 360deg)
			scale(1, 1)
			

    }


}
