@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i');

.headerMain{
 color : blue; 
}

.mainText{
 font-family: 'Roboto', sans-serif;
 text-shadow: 1px 1px 2px #9E9E9E;
 color: #2196F3;
}

.btnMain {
    color: white;
    background-color: #607D8B;
    padding: 4px;
    box-shadow: 2px 2px 4px 0px #9E9E9E;
}

.btnMain:hover {
    color: white;
    background-color: #607D8B;
    padding: 5px;
    box-shadow: 2px 2px 8px 0px #9E9E9E;
}
